[user]
	useConfigOnly = true
	name = Stefano Pacifico
	email = github@pacifico.cc
[push]
	default = simple
[core]
    autocrlf = input
	editor = vim -f
[submodule]
    recurse = true
[pull]
	ff = only
[init]
	defaultBranch = main
[github]
	user = StefPac
